<div class="flex items-center justify-center">
    <img class="mb-4 rounded-full w-64 h-64 md:w-96 md:h-96 mx-2" src="/dniFoto.JPG" alt="Profile image" />
</div>
<p class="text-lg mb-6 text-pretty">
    My name is Estela, I am 21 years old and a mother of three cats.
    The first videogame I ever played was "Pong" on a WindowsXP at 5 years old.
    Little did I know that this would be the beginning of my videogame journey.
    Today, I've developed several games and am working on new projects.
</p>

<p class="text-lg mb-6 text-pretty">
    I am about to finish my studies as a computer engineer. During university, I got 7 honor certificates and overall good grades. I have also been able to learn a lot about programming, databases, and web development.
</p>

<p class="text-lg mb-6 text-pretty">
    I studied and worked in Norway, a country where I fell in love with diversity and culture, with learning new languages and meeting new people from all around the world.
</p>
