---
import LinkedIn from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../components/icons/Mail.astro';
---
<nav class="flex gap-x-4 mt-8 flex-wrap">
    <SocialPill href="https://linkedin.com/in/estela-sempere-maciá-4a77402b9/">	
        <LinkedIn class="size-4 lg:size-6"/>
        LinkedIn
    </SocialPill>
    <SocialPill href="mailto:estelasemperemacia@gmail.com">	
        <Mail class="size-4 lg:size-6"/>
        estelasemperemacia@gmail.com
    </SocialPill>
</nav>